In [98]:
import numpy as np
import pandas as pd 
import seaborn  as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
import plotly.io as pio
import plotly.express as px
import plotly.offline as py
df = pd.read_csv("Data.csv")

In [99]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [100]:
df.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [102]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [103]:
df.nunique()

YearsExperience    28
Salary             30
dtype: int64

In [104]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [YearsExperience, Salary]
Index: []

In [105]:
df.YearsExperience.unique()

array([ 1.1,  1.3,  1.5,  2. ,  2.2,  2.9,  3. ,  3.2,  3.7,  3.9,  4. ,
        4.1,  4.5,  4.9,  5.1,  5.3,  5.9,  6. ,  6.8,  7.1,  7.9,  8.2,
        8.7,  9. ,  9.5,  9.6, 10.3, 10.5])

In [106]:
df.Salary.unique()

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [107]:
#df['YearsExperience'] = df['YearsExperience'].replace({2.:2.0,3.:3.0,4.:4.0,6.:6.0,9.:9.0})

In [108]:
#df.YearsExperience.unique()

In [109]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [110]:
#new_df = df[['YearsExperience', 'Salary']] # لأن الكولمز صغير

In [111]:
#new_df.head()

In [112]:
#new_df = pd.get_dummies(columns=['YearsExperience'], data=new_df) # the dummies for objects only

In [113]:
#new_df.head()

In [114]:
x = df.drop(columns=['Salary'])
y = df['Salary']
x.shape

(30, 1)

In [115]:
y.shape

(30,)

In [116]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [117]:
training_score = []
testing_score = []

In [118]:
def model_prediction(model):
    model.fit(x_train,y_train)
    x_train_pred = model.predict(x_train)
    x_test_pred = model.predict(x_test)
    a = r2_score(y_train,x_train_pred)*100
    b = r2_score(y_test,x_test_pred)*100
    training_score.append(a)
    testing_score.append(b)
    
    print(f'r2_score of {model} model on Training Data is:',a)
    print(f'r2_score of {model} model on Testing Data is:',b)

In [119]:
from sklearn.linear_model import LinearRegression
model_prediction(LinearRegression())

r2_score of LinearRegression() model on Training Data is: 96.45401573418147
r2_score of LinearRegression() model on Testing Data is: 90.24461774180497

In [120]:
from sklearn.tree import DecisionTreeRegressor
model_prediction(DecisionTreeRegressor())

r2_score of DecisionTreeRegressor() model on Training Data is: 99.99631319936537
r2_score of DecisionTreeRegressor() model on Testing Data is: 80.21759743735161

In [121]:
from sklearn.ensemble import RandomForestRegressor
model_prediction(RandomForestRegressor())

r2_score of RandomForestRegressor() model on Training Data is: 99.56707798486221
r2_score of RandomForestRegressor() model on Testing Data is: 89.48424890391698

In [122]:
from catboost import CatBoostRegressor
model_prediction(CatBoostRegressor(verbose=False))

C:\Users\aaz11\anaconda3\lib\site-packages\catboost\core.py:1411: FutureWarning:

iteritems is deprecated and will be removed in a future version. Use .items instead.

r2_score of <catboost.core.CatBoostRegressor object at 0x00000262EF340160> model on Training Data is: 99.96425856630397
r2_score of <catboost.core.CatBoostRegressor object at 0x00000262EF340160> model on Testing Data is: 81.62299340861381

In [123]:
models = ['Linear Regerssion', 'Decision Tree', 'Random Forest', 'Catboost']

In [124]:
import pandas as pd
df1 = pd.DataFrame({'Algorithms':models,
                   'Training Score':training_score,
                   'Testing Score':testing_score})
df1

          Algorithms  Training Score  Testing Score
0  Linear Regerssion       96.454016      90.244618
1      Decision Tree       99.996313      80.217597
2      Random Forest       99.567078      89.484249
3           Catboost       99.964259      81.622993